<article>
  <div class="row">
    <div class="col-2 no-bottom-padding"></div>
    <div class="col-8 no-bottom-padding">
      <h2>My Sweet Strawberry</h2>
      <p class="published center-text">Published: <time datetime="2015-10-25">25th October, 2016</time></p>
    </div>
    <div class="col-2 no-bottom-padding"></div>
  </div>
  <div class="row">
    <div class="col-2">
      <h3>How Old Is Holiday Today?</h3>
      <p>
        <% t = (Time.now - Time.new(2014, 8, 18, 21, 56, 0, "+06:00")).to_i %>
        <% mm, ss = t.divmod(60) %>
        <% hh, mm = mm.divmod(60) %>
        <% dd, hh = hh.divmod(24) %>
        <% yy, dd = dd.divmod(365) %>
        Holiday is <%= yy %> year, <%= dd %> days, <%= hh %> hours, <%= mm %> minutes, and <%= ss %> seconds old!
      </p>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-3"><img class="responsive styled center" src="mom_and_strawberry.jpg" alt="Holiday in strawberry costume" title="Holiday in a strawberry costume"></div>
        <div class="col-7">
          <p>The strawberry fruit is widely appreciated for its characteristic aroma, bright red color, juicy texture, and sweetness.</p>
          <p>
            Holiday is also widely appreciated for her aroma of Dove soap, slightly sour milk, and banana breath, soft pudgy texture, and sweetness.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3>Comments</h3>
          <h4 class="comment-title"><strong>Posted by: Strawberry Lover</strong> on <%= Time.now.strftime('%a %m/%d/%y at %l:%M %p') %></h4>
          <p>That is one cute baby.</p>
          <h4 class="comment-title"><strong>Posted by: Las fresas son la hostia</strong> on <%= Time.now.strftime('%a %m/%d/%y at %l:%M %p') %></h4>
          <p>Me la comería!</p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <aside>The garden strawberry (or simply <strong>strawberry; Fragaria × ananassa</strong>) is a widely grown hybrid species of the genus <i>Fragaria</i> (collectively known as the strawberries). </aside>
    </div>
  </div>
</article>
